<!DOCTYPE html>
<html>
  <head>
    <title>Slang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('slack_logo.jpg') %>"
      window.splashPhotoURL = "<%= image_url('splash_photo2.jpg') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
