<!DOCTYPE html>
<html>
  <head>
    <title>Slang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('newlogo.png'), :rel => 'icon', :type =>  'image/png' %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('slack_logo.jpg') %>"
      window.githubURL = "<%= image_url('github.png') %>"
      window.linkedinURL = "<%= image_url('linkedin.png') %>"
      window.userCountURL = "<%= image_url('user-count-icon.png') %>"
      window.newlogoURL = "<%= image_url('newlogo.png') %>"
      window.splashPhotoURL = "<%= image_url('splash_photo2.jpg') %>"
      window.chatURL = "<%= image_url('chats.png') %>"
      window.searchURL = "<%= image_url('search.png') %>"
      window.gearURL = "<%= image_url('gears.png') %>"
      window.lockURL = "<%= image_url('lock.png') %>"
      window.userURL = "<%= image_url('default_user.png') %>"
      window.userIconURL = "<%= image_url('slack_user_icon.png') %>"
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
